body {
    margin: 8px;
    padding: auto;
    display: block;
    background-color: rgb(201, 230, 238);
    background-position: 100%;
    
}

h1 {
    color: darkred;
    font-family: cursive;
    font-display: center;
    text-align: center;
}
#mainHeading {
    color: red;
    font-family: monospace;
    text-align: left;
    image-orientation: from-image;
}
.funParagraph {
    color: green;
}
footer {
    border: 3px solid rgb(0, 0, 0);
    background-color: beige;
    text-align: center;
    font-family: unset;
}
AboutMe {
    color:blue ;
    border: 4px solid rgb(42, 42, 218);

}
.btn {
    background-color: cadetblue;
    color: rgb(21, 20, 20);
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    text-align: left;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .btn:hover, .dropdown:hover .btn  {
    background-color: #808487;
  }

.navbar {
    overflow: hidden;
    background-color: rgb(192, 188, 188);
    text-size-adjust: 41;
    text-decoration-color: rgb(22, 20, 20);
    text-align: left;
}
table, th, td {
    border:1px solid rgb(190, 184, 184);
    background-color: honeydew;
    text-decoration: wavy;
    text-align: left;
    
  }
  h3 {
    color: blue;

  }